<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/templates/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/templates/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="194x194" href="/templates/favicons/favicon-194x194.png">
    <link rel="icon" type="image/png" sizes="192x192" href="/templates/favicons/android-chrome-192x192.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/templates/favicons/favicon-16x16.png">
    <link rel="manifest" href="/templates/favicons/site.webmanifest">
    <link rel="mask-icon" href="/templates/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#da532c">
    <meta name="theme-color" content="#ffffff">

    <meta charset="UTF-8">
    <title>Error</title>
</head>
<body>
<h1>Error</h1>
<p>Something went wrong</p>
</body>
</html>