<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      lang="en">
<head>
    <link rel="apple-touch-icon" sizes="180x180" href="/templates/favicons/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="/templates/favicons/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="/templates/favicons/favicon-16x16.png">
    <link rel="manifest" href="/templates/favicons/site.webmanifest">
    <link rel="mask-icon" href="/templates/favicons/safari-pinned-tab.svg" color="#5bbad5">
    <meta name="msapplication-TileColor" content="#ff0000">
    <meta name="theme-color" content="#ffffff">

    <title>Home</title>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.1.min.js"></script>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.0.0/css/font-awesome.min.css">
</head>
<body>
<div class="container">
    <h2>Hi <span th:utext="${userName}"></span>, this is the home page.</h2>
    <a th:href="@{/logout}">Sign out</a>
</div>
</body>
</html>